
body {
  background-color: rgb(31, 22, 35);
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}


#chatGpt {
  background-color: transparent;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, rgb(223, 30, 114), rgb(230, 110, 41), rgb(255, 191, 0)) 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  padding: 5px;
  outline: none;
  cursor: pointer;
}


.mascot {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.mascot-logo {
  height: 550px;
  width: 400px;
}


.hidden {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
}


.chat-container {
  width: 800px;
  max-height: 1400px;
 /* overflow-y: auto;*/
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  overflow-y: scroll;
  padding-bottom: 250px;
  scrollbar-width: thin;
  scrollbar-color: rgb(31, 22, 35) transparent;
}


.chat-bubble {
  max-width: 100%;
 /* background: linear-gradient(135deg, rgb(223, 30, 114), rgb(230, 110, 41));*/
  color: white;
 /* padding: 10px;*/
 border-radius: 10px;
  align-self: flex-start;
  font-size: 16px;
 /* word-wrap: break-word;*/
}



.chat-bubble.user {
  position: relative;
  max-width: 10%;
  align-self: flex-end;
  padding: 10px;
  overflow: hidden;
  background:  rgb(57, 41, 64);
  color: white;
  text-align: right;
  word-wrap: break-word;
  display: inline-block;
  margin-left: 690px;
  margin-top: 50px;
}

.chat-bubble.user::before{
  content: "";
  position: absolute;
  background: linear-gradient(to right ,  rgb(223,30,114) , rgb(230, 110, 41),rgb(255, 191, 0) );;
  inset: -5px;
  z-index: -10;
  border-radius: 10px;
  max-width: 100%;
}


.chat-bubble.bot {
  align-self: flex-start;
 /* background: linear-gradient(135deg, rgb(223, 30, 114), rgb(230, 110, 41));*/
  color: white;
  text-align: left;
  margin-top: 50px;
  
}


.search-bar {
  display: flex;
  align-items: center;
  background-color: #222;
  border-radius: 12px;
  padding: 5px;
  width: 800px;
  margin-top: 20px;
 /* position: relative;*/
 position: fixed;
 z-index: 100;
 bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
}

.search-bar::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 2px;
  background: linear-gradient(90deg, rgb(223, 30, 114), rgb(230, 110, 41), rgb(255, 191, 0));
  -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.input {
  flex-grow: 1;
  background: transparent;
  border: none;
  color: white;
  outline: none;
  padding: 10px;
  font-size: 16px;
  position: relative;
  z-index: 1;
}

.search-bar:focus-within::before {
  opacity: 1;
}

.send-button {
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 9;
}

.send-logo {
  height: 25px;
  width: 25px;
}

.send-button:active {
  transform: scale(0.9);
}


.bot-logo-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 12px;
  margin-bottom: 2px;
  border-bottom: 2px solid rgb(255, 191, 0);
  padding-bottom: 20px;
  
}

.bot-logo {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 2px solid #e26e29;
  background-color: white;
  
}

.bot-logo-container p{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
}
