.loading-spinner {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: conic-gradient(rgba(241, 23, 81, 0.8) 0deg,
            rgba(251, 232, 81, 0.8) 180deg,
            transparent 180deg,
            transparent 360deg);
    animation: spin 1s linear infinite;
    mask: radial-gradient(farthest-side, transparent calc(100% - 4px), black 0);
    margin-right: 7px;
}

.loading-text-animation-dot1 {
    margin-left: 5px;
    animation: bounce 1s infinite;
}

.loading-text-animation-dot2 {
    animation: bounce 1s infinite 0.2s;
}

.loading-text-animation-dot3 {
    animation: bounce 1s infinite 0.4s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}


.loading-overlay {
    margin-top: 70px;
    /* background-color: black;*/
    background: transparent;

}

.loading-containers {
    display: flex;
    align-items: center;
    z-index: 1000;
    gap: 7px;
}