.navbar{
  background-color: black;
}

.art-options{
    min-height: 10px;
    height: 40px;
    width: 169px;
    overflow: scroll;
    padding: 8px 12px;
    border-radius: 5px;
    align-items: center;
    box-shadow:white;
}

.art-options:hover{
   background-color: rgb(202, 201, 201);
}

.grid-box{

    min-height: 10px;
    height: 40px;
    width: 169px;
    overflow: scroll;
    padding: 8px 12px;
    border-radius: 5px;
    align-items: center;
    box-shadow:  rgba(114, 113, 113 , 0,5);
}

.style-options{
    display: flex;
    flex-direction: row;
    gap: 10px;
}