.gids{
  scrollbar-width: none;
  display: none;
}

.giids{
  scrollbar-width: none;
  display: none;
}

.giiids{
  scrollbar-width: none;
  display: none;
}
.grid{
  scrollbar-width: none;
  display: none;
}
