.gids {
  scrollbar-width: none;
  display: none;
}

.giids {
  scrollbar-width: none;
  display: none;
}

.giiids {
  scrollbar-width: none;
  display: none;
}

.grid {
  scrollbar-width: none;
  display: none;
}

.grids {
  scrollbar-width: none;
  display: none;
}

.grids2 {
  scrollbar-width: none;
  display: none;
}

.grids1 {
  scrollbar-width: none;
  display: none;
}

.gidds {
  scrollbar-width: none;
  display: none;
}

.controller {
  position: relative;
  left: 690px;
  z-index: 999;
  bottom:60%;
  transform: rotate(-90deg);
}

.color{
 width: 280px;
 accent-color: rgb(142, 142, 142);
}